.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
  height: 700px;
  box-sizing: border-box;
}
.canvas {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  background-color: #FDFA00; /* Yellow Background */
  padding: 0.1rem;
  border-radius: 5px;
  width: 360px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
  margin-right:20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding-left: 3%; /* BeeBot left padding */
  align-items: center;
  width: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /* BeeBot Font */
}

.messages-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: -1rem;/* Chatbot Bottom */
  z-index: 0;
}
.centered-svg { /* Arkaplan Çankaya Logosu */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
  opacity: 0.05;
  z-index: 1;
}
.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin: 10px;
}

.bot-message .message-text {
  background-color: #eee;
  color: #333;
  align-self: flex-start;
  padding: 0.5rem;
}

.user-message .message-text {
  padding: 0.5rem;
  max-width: 50%;
  background-color: #007bff;
  color: white;
  align-self: flex-end; 
}

.message-time {
  font-size: 0.75rem;
  color: #888;
  margin-top: 0.25rem;
}

.bot-message .message-time {
  align-self: flex-start;
}

.user-message .message-time {
  align-self: flex-end;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.input-container input {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
}

.input-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
